body {
    background-color: rgb(163, 157, 157);
}

.top-line {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(212, 212, 207);
}

.bottom-line {
    height: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgb(223, 223, 191);
}

.logo {
    max-width: 100px;
    max-height: 100px;
    margin: 0 40px;
    /* border: 2px solid black; */
}

.converter {
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    width: 300px;
    border: 2px solid black;
}

h1 {
    font-size: xx-large;


}